 
 a{ color:#008900;text-decoration: none

 }
 
 
 a:hover{color:#FF7440;font-weight:bold}
 #b1{font-size:22px}
#flo{float: right}
#flo1{float: left}
img{height:30px}
iframe{width:1250px;height:3000px;}

#ifa{ width:1050px;height:395px; overflow-x:auto; overflow-y:auto;}


th{background-color:#E6E6FF}
  #bb{
border:8px solid;
border-radius:10px;
border-color:#FF7440;} 

#header {
    line-height:10px;
    background-color:#27AE60;
    color:white;
    text-align:center;
    padding:1px;
}
#footer {
    background-color:#27AE60;
    color:white;
    clear:both;
    text-align:center;

   
}



 .align_center {
            text-align: center;
        }




 input{
	                 height:30px;
					 width:200px;
                    right:5px; 
					 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.075);
                    }
input:focus {
	 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
}

.dropdown {
  
    position: absolute;
    display: inline-block;
    left:5px;   
     background-color:#FF7440;
      border: none;
      font-size: 16px;
      font-weight:bold;
      margin: 20x;
      padding: 20px 15px;
}

.dropdown-content {
    display: none;
    position: absolute;
   left:1px; top:50px;
    background-color: #7CC24F;
    min-width: 200px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 
    z-index: 10;
}

.dropdown:hover .dropdown-content {
    display: block;
}

 .dropdown-content a {
    color: white;
    padding:5px 5px;
    text-decoration: none;
     font-size: 16px;
    display: block;
}
	
 .dropdown-content a:hover {
    color:#FF7440;
    text-decoration: none;
     font-size: 16px;
    display: block;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}


tr.shown td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}

 td.picture {
    background: url('../img/open.png') no-repeat center center;
    cursor: pointer;
}


tr.shown td.picture {
    background: url('../img/close.png') no-repeat center center;
}


@font-face {
      font-family: 'Menksoft2012';
      src: url('../font/Menksoft2012.ttf');
      src: url('../font/Menksoft2012.eot') format('truetype'),
            url('../font/Menksoft2012.woff') format('woff');
      
    }
	
	
div,body{margin: 0; padding: 0;}   
	
textarea{writing-mode: vertical-lr; font-family:Menksoft2012; direction: ltr;}