

  h2{color:green} 
 a{ background-color:green ;color:white;text-decoration: none;font-size:17px;
 border: solid 2px green;padding: 3px 10px;
 }
 a:hover{
	background-color:#FF7440;font-weight:bold
 }
 
 :target{
	 background-color:#FF7440
 }
font{color:#FF7440}

	
#footer {
    background-color:;
    color:#999;
    clear:both;
    text-align:center;
}



body{margin: 10 10 5 20;}
